svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #30bae7;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;
}

svg.radial-progress circle.incomplete { opacity: 0.25;
stroke: #dfe8ed;  
}

svg.radial-progress circle.complete {
 stroke-dasharray: 219.91148575129; 


}

svg.radial-progress text {
  fill: #3c4761;
  text-anchor: middle;
}

svg.webbb circle {
  /*fill: #ffffff;*/
  stroke: #30bae7;
  /*stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;*/
  }

  svg.htmlll circle {
  /*fill: #ffffff;*/
  stroke: #d74680;
  /*stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;*/
  }
  svg.graphiccc circle {
  /*fill: #ffffff;*/
  stroke: #15c7a8;
 /* stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;*/
  }
  svg.uiii circle {
  /*fill: #ffffff;*/
  stroke: #eb7d4b;
  /*stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;*/
  }